.contents
  .contents__header
    .contents__header--userName
    = current_user.name
    =link_to "#", class: "contents__header__btn contents__header__btn__edit" do
      = icon('fas', 'edit', class: "contents__header__btn__icon")
    =link_to "#", class: "contents__header__btn contents__header__btn__cog" do
      = icon('fas', 'cog', class: "contents__header__btn__icon")
  .contents__group
    %p test
    %p メッセージはなし
  .contents__group
    %p test_2
    %p メッセージなし
